@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Identity;

<PageTitle>PPlus Account</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand, site-logo" href="">PPlus Account</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
               @* <NavLink class="nav-link" @onclick="OnLogout">
                    <span class="oi oi-power-standby" aria-hidden="true"></span>Logout
                </NavLink>*@
                <NavLink class="nav-link"  href="/Logout">
                    <span class="oi oi-power-standby" aria-hidden="true"></span>Logout
                </NavLink>
            </div>
          
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    //private readonly SignInManager<ApplicationUser> _signInManager;
    //private async void OnLogout()
    //{
    //    //await _signInManager.SignOutAsync();
    //}
}