
.login-container {
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.right-side {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    justify-items: center;
    justify-content: center;
    width: 50%;
    padding: 0px 20px;
    position: relative;
    background-color: white;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    width: 400px;
    margin: 0 auto 100px;
    text-align: center;
}

.content-group-lg {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.txt_sign {
    color: #00b3c6;
    font-size: 32px;
}


.pa {
    font-weight: normal;
    line-height: 1;
    color: #999999;
    font-size: 16px;
    margin-top: 8px;
}


.mobile-app-container {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.google-play {
    padding: 0 20px;
}

img {
    width: 190px;
    height: 65px;
}



.app-store {
    padding: 0 20px;
}

.img {
    width: 190px;
    height: 65px;
}




.display-block {
    display: block;
}

.form input {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    height: 60px;
    font-size: 16px;
    border: 1px solid #e9e9f0;
    border-radius: 5px;
    text-align: start;
    margin-bottom: 24px;
}

.form button {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    color: #fff;
    width: 100%;
    padding: 15px 0 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
    height: 60px;
    border: none;
    font-weight: 500;
    font-size: 16px;
}


.left-side {
    background: url('/favicon.png') no-repeat right;
    background-size: 100% 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-items: center;
    justify-content: flex-end;
    width: 50%;
    padding: 0px 20px;
    max-width: 50%
}

.p_main_div {
    padding-inline-start: 32px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 3;
    padding-bottom: 48px;
    gap: 150px;
}

.txt_title_login {
    font-size: 36px;
    font-weight: 900;
    text-align: start;
    margin-block-end: 8px;
}

.txt_sup_login {
    font-size: 28px;
    text-align: start;
}

.txt_copy {
    font-size: 14px;
    z-index: 3;
}



.text-center {
    text-align: center;
}

.text-black {
    font-weight: 900;
}

.sec-text {
    font-size: 20px;
    color: #656565;
}

.invalid {
    border-color: #c62828 !important;
}
